.new-tweet {
    width: 100%;
    /* adding width after project got rejected. I am not sure if this fix the issue, as when I checked my app, I don't see the problem mentioned by the evaulator */
    margin-top: 3em;
}

.new-tweet form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-tweet textarea {
    border: none;
    border-bottom: 5px solid #545149;
    background: none;
    margin: 2rem 0;
    word-wrap: break-word;
    /* not sure if it's needed here as I don't see words escaping the textarea with my laptop, but since I got rejected on the layout on width issue, I thought best to put a word-wrap: break-word here. */
}

.buttonDiv {
    display: flex;
    justify-content: space-between;
}

.submitTweet {
    background-color: #4056A1;
    color: #FFFFFF;
    font-family: sans-serif;
    font-family: 'Bungee', cursive;
}
